body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  text-align:center;
  margin:0 auto;
}

.game{
  text-align:center;
  margin:0 auto;
}

.emptyCell{
  background-color:white;
  width:8px;
  height:8px;
  display:inline-block;
  padding:0px;
  margin:0px;
  border:solid 1px grey;
}

.liveCell{
  background-color:darkslategrey;
  width:8px;
  height:8px;
  display:inline-block;
  padding:0px;
  margin:0px;
  border:solid 1px grey;
}

.cellButton{
  background-color:transparent;
  width:8px;
  height:8px;
  padding:0px;
  margin:0px;
  border:transparent;
}

.grid{
  margin:0px;
  padding:0px;
  line-height:0px;
}

.gridSizes{
  width:640px;
  height:640px;
  margin: 0px auto;
  display:block;
  padding-top: 30px;
}

.copyRight{
  text-align: center;
  margin-top:10%; 
  font-family: 'Raleway', sans-serif;
  color:darkgrey;
  margin-bottom:0;
}