body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:rgb(0, 0, 0);
  color:rgb(184, 184, 184);
}

.App{
  text-align:center;
  margin:0 auto;
}

.title{
  color:rgb(8, 238, 0);
}

.game{
  text-align:center;
  margin:0 auto;
}

.button{
  border:solid 1px transparent;
  border-radius:2px;
  background-color:transparent;
  color:white;
}

.emptyCell{
  background-color:rgb(29, 29, 29);
  width:8px;
  height:8px;
  display:inline-block;
  padding:0px;
  margin:0px;
  border:solid 1px rgb(29, 29, 29);
}

.liveCell{
  background-color:rgb(8, 238, 0);
  width:8px;
  height:8px;
  display:inline-block;
  padding:0px;
  margin:0px;
  border:solid 1px grey;
}

.cellButton{
  background-color:transparent;
  width:8px;
  height:8px;
  padding:0px;
  margin:0px;
  border:transparent;
}

.grid{
  margin:0px;
  padding:0px;
  line-height:0px;
}

.gridSizes{
  width:640px;
  height:640px;
  margin: 0px auto;
  display:block;
  padding-top: 30px;
}

.copyRight{
  text-align: center;
  margin-top:10%; 
  font-family: 'Raleway', sans-serif;
  color:white;
  margin-bottom:0;
}